rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /publicProfiles/{profileSlug}/{document=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == 'PW98CUkzkjY2NMdS2FCMuKhIOka2';
    }
  }
}